@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro);

:root {
  --color-bg: #17171C;
  --color-bg-light: #101419;
  --color-fg: #1f1f1f;

  --color-link-hover: #383838;
  --color-link: #1f1f1f;

  --font-family: "JetBrainsMono NF", monospace;
}

* {
  box-sizing: border-box;
  text-transform: lowercase;
}

html,
body {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  overflow: hidden;
  color: var(--color-fg);
  font-family: var(--font-family);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100%;
  position: absolute;
}

header div#img {
  width: 100%;
  height: 100%;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

header div#img img {
  width: 50%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
}

main #content {
  left: 0;
  position: absolute;
  width: 85%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

main #head {
  text-align: left;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.75vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

footer * {
  height: min-content;
}

ul {
  text-align: center;
  padding: 0;
}

li {
  font-size: 1.15vw;
  list-style-type: none;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition-duration: 0.2s;
}

a:hover {
  color: var(--color-link-hover);
  transition-duration: 0.2s;
}

.blinking {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
